<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Curso Basico de Vue.js | Platzi</title>
		<link rel="stylesheet" href="./styles.css" />
	</head>

	<body>
		<div id="app" :style="{ background: '#' + color }">
			<!-- Son equivalentes -->
			<!-- <img v-bind:src="img" v-bind:alt="name"> -->
			<coin-detail 
			:title="title" 
			:change-percent="changePercent"
			:img="img"
			:name="name"
			></coin-detail>

			<input type="number" v-model="value" />
			<span> {{ convertedValue }} </span>
			<!-- 
    <ul>
      <li v-for='(price, index) in prices' v-bind:key='price'>{{ inSdex }} - {{ price }}</li>
    </ul> -->

			<ul v-show="showPrices">
				<li
					class="uppercase"
					:class="{ orange: price.value == actualPrice, red: price.value < actualPrice, green: price.value > actualPrice }"
					v-for="(price, index) in pricesWithDays"
					v-bind:key="price.day"
				>
					{{ index }} - {{ price.day }} - {{ price.value }}
				</li>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
